In [31]:
import pandas as pd
import math

In [52]:
documentA = 'the woman went out for a walk'
documentB = 'the children play hide and seek in the park'

In [53]:
bag1=documentA.split(' ')
bag2=documentB.split(' ')

In [54]:
bag2

['the', 'children', 'play', 'hide', 'and', 'seek', 'in', 'the', 'park']

In [55]:
unionword=set(bag1).union(set(bag2))
unionword

{'a',
 'and',
 'children',
 'for',
 'hide',
 'in',
 'out',
 'park',
 'play',
 'seek',
 'the',
 'walk',
 'went',
 'woman'}

In [56]:
dictwordA=dict.fromkeys(unionword,0)
dictwordA

{'went': 0,
 'hide': 0,
 'a': 0,
 'children': 0,
 'and': 0,
 'the': 0,
 'out': 0,
 'for': 0,
 'walk': 0,
 'seek': 0,
 'in': 0,
 'play': 0,
 'park': 0,
 'woman': 0}

In [57]:
for word in bag1:
    dictwordA[word]+=1

dictwordA

{'went': 1,
 'hide': 0,
 'a': 1,
 'children': 0,
 'and': 0,
 'the': 1,
 'out': 1,
 'for': 1,
 'walk': 1,
 'seek': 0,
 'in': 0,
 'play': 0,
 'park': 0,
 'woman': 1}

In [58]:
dictwordB=dict.fromkeys(unionword,0)
dictwordB

{'went': 0,
 'hide': 0,
 'a': 0,
 'children': 0,
 'and': 0,
 'the': 0,
 'out': 0,
 'for': 0,
 'walk': 0,
 'seek': 0,
 'in': 0,
 'play': 0,
 'park': 0,
 'woman': 0}

In [59]:
for word in bag2:
    dictwordB[word]+=1

dictwordB

{'went': 0,
 'hide': 1,
 'a': 0,
 'children': 1,
 'and': 1,
 'the': 2,
 'out': 0,
 'for': 0,
 'walk': 0,
 'seek': 1,
 'in': 1,
 'play': 1,
 'park': 1,
 'woman': 0}

In [60]:
def computeTF(wordDict,bow):
    tfdict={}
    bagofwords=len(bow)
    for word,count in wordDict.items():
        tfdict[word]=count/float(bagofwords)
    return tfdict

In [61]:
tfA=computeTF(dictwordA,bag1)
tfA

{'went': 0.14285714285714285,
 'hide': 0.0,
 'a': 0.14285714285714285,
 'children': 0.0,
 'and': 0.0,
 'the': 0.14285714285714285,
 'out': 0.14285714285714285,
 'for': 0.14285714285714285,
 'walk': 0.14285714285714285,
 'seek': 0.0,
 'in': 0.0,
 'play': 0.0,
 'park': 0.0,
 'woman': 0.14285714285714285}

In [62]:
tfB=computeTF(dictwordB,bag2)
tfB

{'went': 0.0,
 'hide': 0.1111111111111111,
 'a': 0.0,
 'children': 0.1111111111111111,
 'and': 0.1111111111111111,
 'the': 0.2222222222222222,
 'out': 0.0,
 'for': 0.0,
 'walk': 0.0,
 'seek': 0.1111111111111111,
 'in': 0.1111111111111111,
 'play': 0.1111111111111111,
 'park': 0.1111111111111111,
 'woman': 0.0}

In [67]:
def computeIDF(documents):
    numOfDoc=len(documents)
    idfDict = dict.fromkeys(documents[0].keys(), 0)
    for doc in documents:
        for word,val in doc.items():
            if val>0:
                idfDict[word] += 1
                
    for word,count in idfDict.items():
        idfDict[word]=math.log(numOfDoc/float(count))
    return idfDict

In [68]:
idf=computeIDF([dictwordA, dictwordB])
idf

{'went': 0.6931471805599453,
 'hide': 0.6931471805599453,
 'a': 0.6931471805599453,
 'children': 0.6931471805599453,
 'and': 0.6931471805599453,
 'the': 0.0,
 'out': 0.6931471805599453,
 'for': 0.6931471805599453,
 'walk': 0.6931471805599453,
 'seek': 0.6931471805599453,
 'in': 0.6931471805599453,
 'play': 0.6931471805599453,
 'park': 0.6931471805599453,
 'woman': 0.6931471805599453}

In [70]:
def compute_TFIDF(tf,idf):
    tf_idf={}
    for word,val in idf.items():
        tf_idf[word]=val*tf[word]
    return tf_idf

In [71]:
tf_idfA=compute_TFIDF(tfA,idf)
tf_idfA

{'went': 0.09902102579427789,
 'hide': 0.0,
 'a': 0.09902102579427789,
 'children': 0.0,
 'and': 0.0,
 'the': 0.0,
 'out': 0.09902102579427789,
 'for': 0.09902102579427789,
 'walk': 0.09902102579427789,
 'seek': 0.0,
 'in': 0.0,
 'play': 0.0,
 'park': 0.0,
 'woman': 0.09902102579427789}

In [72]:
tf_idfB=compute_TFIDF(tfB,idf)
tf_idfB

{'went': 0.0,
 'hide': 0.07701635339554948,
 'a': 0.0,
 'children': 0.07701635339554948,
 'and': 0.07701635339554948,
 'the': 0.0,
 'out': 0.0,
 'for': 0.0,
 'walk': 0.0,
 'seek': 0.07701635339554948,
 'in': 0.07701635339554948,
 'play': 0.07701635339554948,
 'park': 0.07701635339554948,
 'woman': 0.0}

In [73]:
df=pd.DataFrame([tf_idfA,tf_idfB])
df

,went,hide,a,children,and,the,out,for,walk,seek,in,play,park,woman
0,0.099021,0.000000,0.099021,0.000000,0.000000,0.0,0.099021,0.099021,0.099021,0.000000,0.000000,0.000000,0.000000,0.099021
1,0.000000,0.077016,0.000000,0.077016,0.077016,0.0,0.000000,0.000000,0.000000,0.077016,0.077016,0.077016,0.077016,0.000000

In [76]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer()
vectors = vectorizer.fit_transform([documentA, documentB])
vectors

<2x13 sparse matrix of type '<class 'numpy.float64'>'
	with 14 stored elements in Compressed Sparse Row format>

In [86]:
df=pd.DataFrame(vectors.toarray(),columns=vectorizer.get_feature_names());
df

C:\Users\aisha\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,and,children,for,hide,in,out,park,play,seek,the,walk,went,woman
0,0.000000,0.000000,0.42616,0.000000,0.000000,0.42616,0.000000,0.000000,0.000000,0.303216,0.42616,0.42616,0.42616
1,0.332872,0.332872,0.00000,0.332872,0.332872,0.00000,0.332872,0.332872,0.332872,0.473682,0.00000,0.00000,0.00000